environs==9.5.0
psycopg2-binary==2.9.3
requests==2.27.1
djangorestframework==3.13.1
beautifulsoup4==4.11.1
confluent-kafka==1.9.2
stix2-elevator==4.1.7
stix2==3.0.1
flatdict==4.0.1
dagster==1.0.17
kafka-python==2.0.2
dagit==1.0.17